/* style.css created by Benjamin Morlok */
@CHARSET "ISO-8859-1";

@font-face {
    font-family: Visitor1;
    src: url(fonts/visitor1.ttf);
    font-weight:400;
}

body{
	height:100%;
	background-color:#6f6f6f;
	background-image:url('images/background.gif');
	background-repeat:repeat-x;
	font-family:arial;
	font-size:10pt;
	padding:0px;
	margin:0px;
	}
	 
#wrapper {
	min-height: 100%;
	height:     auto;
	height:     100%;
	margin:     0 auto ; /* -44px being the size of the footer */
    }

#footer{ 
	width:100%; 
	}

#siteHeader{
	height:131px;
	width:100%;
	}
	
.headerText{
	padding-right:5px;
	float:right;
	font-family: Visitor1, Verdana, Arial;
	font-size:20pt;
	margin-top:100px;
	}
	
.headerText a{
	text-decoration:none;
	color:#e5e5e5;
	}
	
.customerWelcome {
	padding-right:5px;
	float:left;
	font-family: Visitor1, Verdana, Arial;
	font-size:14pt;
	color:#e5e5e5;
	margin-top:100px;
	margin-left:20px;
	}

.headerText:hover a{
	color:#f7921c;
	}

#navBar{
	height:36px;
	width:100%;
	background-image:url('images/navBar_bg.gif');
	background-repeat:repeat-x;
	padding:0px;
	margin:0px;
	font-family: Visitor1, Verdana, Arial;
	font-size:20pt;
	color:#3f3f3f;
	}

.navItem{
	padding-right:5px;
	margin-left:25px;
	padding-top:5px;
	}
	
.navItem a{
	text-decoration:none;
	color:#3f3f3f;
	}
	
.navItem:hover a{
	color:#e5e5e5;
	text-decoration:none;
	}

#mainContent{
	width:100%;
	background-color:#e5e5e5;
	}

#baseBar{
	height:36px;
	width:100%;
	background-image:url('images/navBar_bg.gif');
	background-repeat:repeat-x;
	padding:0px;
	margin:0px;
	}

.buildColumn{
	height:100%;
	float:left;
	width:188px;
	padding:10px;
	text-align:left;
	margin-left:30px;
	font-family: Visitor1, Verdana, Arial;
	font-size:12pt;
	color:#e5e5e5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.buildColumn:hover {
	color:#3f3f3f;
	}



h1{ color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:16pt;
	margin:0 5 5 5;
	}

h2{
	color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:13pt;
	margin:0;
	}
	
h3{
	color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:12pt;
	margin:0;
	}

.buildimg {
	height:188px;
	width:188px;
	border-color: transparent;
	border-width: 3px;
 	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    }
 
.buildimg:hover {
	margin-left:-6px;
	margin-top:-6px;
    height:200px;
    width:200px;
    border:solid;
    border-color: #3f3f3f;
	border-width: 3px;
	}

.borderDiv {
	border:3px solid;
	border-color:#3f3f3f;
	background:#f6f5f5;
	width: 1000px;
	height:auto;
    margin: 0px auto;
    padding:10px;
	}
	
.clearDiv {
	border:0px solid;
	width: 1000px;
	height:auto;
    margin: 0px auto;
    padding:10px;
    color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:10pt;
	}
	
.clearDiv a {
	color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	text-decoration:none;
	color:#3f3f3f;
	}
	
.formTable {
	margin-left:auto;
	margin-right:auto;
	width:100%
	border-width:2px;
	border-spacing:0px;
	border-style:none;
	border-color:#3f3f3f;;
	border-collapse:collapse;
	}

.formTable td {
	padding:2px;
	color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:14pt;
	text-align:right;
	}

/* main build table */
.buildTable {
	margin-left:auto;
	margin-right:auto;
	width:100%
	}

.buildTable tr {
	color:#3f3f3f;
	font-family:  Helvetica, Verdana, Arial;
	font-size:14pt;
}

.buildTable th {
	text-align:center;
	padding: 2px;
	}

.buildTable td {
	text-align:center;
	padding: 2px;
	}
/* end main build table */

/* selected item table */
.selectedTable {
	margin-left:auto;
	margin-right:auto;
	width:100%
	}

.selectedTable tr {
	background-color:#e5e5e5;
	color:#3f3f3f;
	font-family: Helvetica, Verdana, Arial;
	font-size:12pt;
}

.selectedTable th {
	text-align:center;
	padding: 0px;
	}

.selectedTable td {
	text-align:center;
	padding: 0px;
	}
/* end selected table */
	
/* popup window */
	
.holder{
    width:100%;
    display:block;
	}
	
.popup{
    width:400px;
    background:#3f3f3f;
    margin:30px auto 0;
    padding:3px;
    position:absolute;
    left: 50%;
  	top: 50%;
  	margin-left: -200px;
    margin-top: -100px; /* This should be half of the total height of your div */
	}

.content{
	height:auto;
	overflow-y:auto;
    background:#f6f5f5;
    color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:12pt;
    padding: 28px 26px 33px 25px;
	}

.content a {
		font-size:14pt;
		text-decoration:none;
		color:#6f6f6f;
	}

.content a:hover {
		text-decoration:none;
		color:#3f3f3f;
	}
	
/* end popup window */

/* Select Button */
.squareButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border:2px solid #3f3f3f;
	display:inline-block;
	color:#3f3f3f;
	font-family: Visitor1, Verdana, Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.squareButton:hover {
	background-color:#dfdfdf;
}.squareButton:active {
	position:relative;
	top:1px;
}
/* end Select Button */